* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, header, main {
    margin: 0;
    padding: 0;
}
header, main {
    margin-bottom: 0;
}

footer {
    padding: 1px;
};
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}